<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Siegen Vue</title>
  <link rel="stylesheet" href="./assets/css/styles.css" />
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <notify :list="errors" @close="notifyClose"></notify>
    <div id="calculator">
      <header>Calculates Transport Cost</header>
      <aside>Total Cost: 
        <span>${{ totalCost }}</span>
        <tooltip :content="transportCost" v-if="transportCost.lenght"></tooltip>
      </aside>
      <main>
        <div class="row">
          <label for="vechile_category">
            Vehicle Category
            <v-select v-model="vehicleCategory" :options="vehicleCategories" first-item="Choose a category"></v-select>
          </label>
          <label for="vehicle_type">
            Vehicle Type
            <v-select v-model="vehicleType" :options="vehicleTypes" first-item="Choose a type"></v-select>
          </label>
        </div>
        <div class="row">
          <label for="pavedRoadKm">Paved Road<input v-model.number="pavedRoadKm" type="text" /></label>
          <label for="unpavedRoadKm">Unpaved Road<input v-model.number="unpavedRoadKm" type="text" /></label>
          <label for="cargo_weight">Cargo Weight<input v-model.number="cargoWeight" type="text" /></label>
        </div>
      </main>
      <footer>
        <button @click="calculate">Calculate</button>
      </footer>
    </div>
  </div>
  <script src="./main.js"></script>
  <script src="./components/Select.js"></script>
  <script src="./components/Notify.js"></script>
  <script src="./components/Tooltip.js"></script>
  <script>
    const mountedApp = app.mount('#app');
  </script>
</body>
</html>